@charset "UTF-8";

/* 绝对单位 */

/* 像素（pixel） */
#px {
    width: 1px;
}

/* 毫米（millimeters） */
#mm {
    width: 1mm;
}

/* 厘米（centimeters） */
#cm {
    width: 1cm;
}

/* 英寸（inches），1 in = 2.54 cm */
#in {
    width: 1in;
}

/* 派卡（picas），1 pc = 1/6 in */
#pc {
    width: 1pc;
}

/* 点（points），1 pt = 1/72 in */
#pt {
    width: 1pt;
}

/* 相对单位 */

/* 字母 M 的宽度 */
#em {
    width: 1em;
}

/* 字母 x 的宽度 */
#ex {
    width: 1ex;
}

/* 数字 0 的宽度 */
#ch {
    width: 1ch;
}

/* 默认 M 的宽度（root em） */
#rem {
    width: 1rem;
}

/* 视口宽度的 1/100（viewport width） */
#vw {
    width: 1vw;
}

/* 视口高度的 1/100（viewport height） */
#vh {
    height: 1vh;
}

/* 颜色 */

#color-name {
    color: white;
}

#color-hex {
    color: #FFFFFF;
}

#rgb {
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 1.0);
}

#hsl {
    color: hsl(360, 100%, 100%);
    background: hsla(360, 100%, 100%, 1.0);
}
